Button
    display: flex
    justify-content: center
    padding: 12px 24px
    border: none
    cursor: pointer
    font-size: 16px
    border-radius: 24px

    &:disabled
        cursor: not-allowed

.primary
    background: var(--color-background-control-primary)
    color: var(--text-secondary)

.secondary
    background: var(--color-background-control-secondary)
    color: var(--text-secondary)

.ghost
    border: 2px solid var(--background-secondary)
    background: transparent
    color: var(--text-secondary)

.ghostCancel
    border: 2px solid var(--color-background-control-primary)
    background: transparent
    color: var(--color-danger)