Button
    display: flex
    justify-content: center
    padding: 10px 20px
    border: 2px solid var(--color-primitive-300)
    cursor: pointer
    font-size: 16px
    border-radius: 4px
    transition: .3s

    &:disabled
        cursor: not-allowed

    &:hover
        opacity: .8
        transition: .3s

.primary
    background: var(--color-background-control-primary)
    color: var(--text-secondary)

.secondary
    background: var(--color-background-control-secondary)
    color: var(--text-secondary)

.ghost
    border: 2px solid var(--background-secondary)
    background: transparent
    color: var(--text-secondary)

.ghostCancel
    border: 2px solid var(--color-background-control-primary)
    background: transparent
    color: var(--color-danger)