.Sidebar
  background: var(--inverted-background-primary)

  width: var(--width-sidebar)
  height: calc(100% - var(--height-navbar))

  position: absolute
  top: var(--height-navbar)
  z-index: 0

  padding: 24px 40px 12px 40px
