.navbar
    background: var(--inverted-background-primary)
    padding: 12px 24px 12px 24px

    margin-left: var(--width-sidebar)

    height: var(--height-navbar)

    position: relative

.gapThemeSwitcher
    margin-left: auto
    margin-right: 16px

.gapLangSwitcher
    margin-right: 16px

