:root
    --font-family-main: Consolas, sans-serif

    --text-primary: #0bd731
    --text-secondary: #dcc2c2
    --text-third: #211f1f
    --color-primitive-100: #fff

    --color-background-control-primary: #7b1717
    --color-background-control-secondary: #716969

    --overlay-background: rgba(38, 38, 38, 0.34)
    --background-secondary: #e7e0e0