:root
    --font-family-main: Consolas, sans-serif

    --text-primary: #0bff00
    --text-secondary: #dcc2c2
    --text-third: #211f1f
    --color-primitive-100: #fff
    --color-primitive-200: #b8b8b8
    --color-primitive-300: #1f1b1b
    --color-primitive-400: #dddddd
    --color-primitive-500: rgba(221, 221, 221, 0.48)

    --color-background-control-primary: #b325a6
    --color-background-control-secondary: #716969

    --overlay-background: rgba(162, 162, 162, 0.34)
    --background-primary: #1f1b1b
    --background-primary-100: #1a6219

    --background-secondary: #e7e0e0

    --background-secondary-100: #cac5c5
    --background-secondary-200: #262525

    --gradient-secondary-100: linear-gradient(90deg, rgba(57,55,55,0.013042717086834688) 20%, rgba(241,241,241,1) 50%, rgba(45,41,41,0) 80%)

    --color-main-border: #716969
    --color-border-100: #e8e8e8
    --color-danger: #b60e0e

    // width
    --width-sidebar: 300px

    // height
    --height-navbar: 80px